<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class> HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class> HelloServletWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloservletworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KukuServlet</servlet-name>
    <servlet-class>KukuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KukuServlet</servlet-name>
    <url-pattern>/kukuservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/input</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BmiServlet</servlet-name>
    <servlet-class>BmiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BmiServlet</servlet-name>
    <url-pattern>/bmi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/counter</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>AnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/animal</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>LoginListServlet</servlet-name>
    <servlet-class>LoginListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginListServlet</servlet-name>
    <url-pattern>/loginList</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DispatchServlet</servlet-name>
    <servlet-class>DispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchServlet</servlet-name>
    <url-pattern>/dispatch</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DispatchServlet2</servlet-name>
    <servlet-class>DispatchServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchServlet2</servlet-name>
    <url-pattern>/dispatch2</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DispatchServlet3</servlet-name>
    <servlet-class>DispatchServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchServlet3</servlet-name>
    <url-pattern>/dispatch3</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DbAccessSample2</servlet-name>
    <servlet-class>DbAccessSample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbAccessSample2</servlet-name>
    <url-pattern>/dbaccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DbAccessSample3</servlet-name>
    <servlet-class>DbAccessSample3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbAccessSample3</servlet-name>
    <url-pattern>/dbaccess3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DbAccessSample4</servlet-name>
    <servlet-class>DbAccessSample4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbAccessSample4</servlet-name>
    <url-pattern>/dbaccess4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdServlet</servlet-name>
    <servlet-class>IdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdServlet</servlet-name>
    <url-pattern>/idservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LoginUserServletConf</servlet-name>
    <servlet-class>LoginUserServletConf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServletConf</servlet-name>
    <url-pattern>/loginUserConf</url-pattern>
  </servlet-mapping>

     <servlet>
    <servlet-name>DbInputServlet</servlet-name>
    <servlet-class>DbInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbInputServlet</servlet-name>
    <url-pattern>/dbInput</url-pattern>
  </servlet-mapping>
</web-app>